<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eesa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <!-- header -->
    <div class="header" id="header">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Eesa Zahed</h1>
                <p class="lead"> Excellent At Tutoring Elementary Math
                </p>
            </div>
        </div>
    </div>
    <!-- about -->
    <div class="container px-4 py-5" id="featured-3">
        <h1 class="display-4 fw-normal">About</h1>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <h2>Student of Mathematics</h2>
                <p>Hello. I'm Eesa Zahed, and I have
                    specialties
                    in arithmetic, fractions,
                    decimals, geometry, algebra, functions, and graphing. Math has been my best subject for years, and
                    teaching it
                    is super fun for me. </p>
            </div>
            <div class="feature col">
                <h2>Ready to teach</h2>
                <p>I've studied with some of the best curriculums, and I have methods of my own for making math fun. I
                    decide
                    it's not hours of drills that make kids like math, its more important that they understand it
                    instead. Whether students are struggling with math, or excelling at it, my tutoring can help
                    improve not only grades but performance, speed, and showing work.
                </p>
            </div>
            <div class="feature col">
                <h2>Affordable rates</h2>
                <p>I can teach elementary children grades 1-6. The sessions are fully virtual, and are live and can be
                    done
                    either before school, after school, and on weekends. And since these sessions are on video calls, I
                    can
                    usually be flexible for timings.</p>
            </div>
        </div>
    </div>
    <!-- pricing -->
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Pricing</h1>
        <p class="fs-5 text-muted">Charged per session per child.</p>

    </div>
    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">30-Minute Session</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$10 CAD
                        </h1><br><br>
                        <a href="/30-minute-session">
                            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">45-Minute Session</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$15 CAD
                        </h1><br><br>
                        <a href="/45-minute-session">
                            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">60-Minute Session</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$25 CAD
                        </h1><br><br>
                        <a href="/60-minute-session">
                            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- contact -->
    <div class="contact">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 fw-normal">Contact</h1>
                <p class="lead"> Email me at <a href="mailto:test@sampleemailaddress.com">test@sampleemailaddress.com</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>